# =====================
# DATABASE
# =====================
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=secret
DB_NAME=nama_database
DB_PORT=3306

# =====================
# JALUR 1: Sumber A => Port 5701 => forward ke 5801
# =====================
DIGI2_LISTEN_PORT=5701
DIGI2_TARGET_HOST=vps-irs
DIGI2_TARGET_PORT=2322
DIGI2_DELAY_MS=15000
# =====================
DIGI3_LISTEN_PORT=5702
DIGI3_TARGET_HOST=vps-irs
DIGI3_TARGET_PORT=2323
DIGI3_DELAY_MS=15000
# =====================
DIGI4_LISTEN_PORT=5703
DIGI4_TARGET_HOST=vps-irs
DIGI4_TARGET_PORT=2324
DIGI4_DELAY_MS=15000
# =====================
RITA2_LISTEN_PORT=5704
RITA2_TARGET_HOST=vps-irs
RITA2_TARGET_PORT=33182
RITA2_DELAY_MS=15000
# =====================
RITA3_LISTEN_PORT=5705
RITA3_TARGET_HOST=vps-irs
RITA3_TARGET_PORT=33183
RITA3_DELAY_MS=15000
# =====================
RITA4_LISTEN_PORT=5706
RITA4_TARGET_HOST=vps-irs
RITA4_TARGET_PORT=33184
RITA4_DELAY_MS=15000

