# Konfigurasi Service
PORT_LISTEN=5758
TARGET_HOST=localhost #Terminal Aktif H2H
TARGET_PORT=2324 #Port Terminal Aktif H2H
DELAY_SEND_MS=15000 #Delay untuk meneruskan data ke Terminal H2H (dalam milidetik)

# Konfigurasi Database MySQL
DB_HOST=localhost
DB_USER=username_db_irs
DB_PASSWORD=pass_db_irs
DB_NAME=avr
DB_PORT=3307